.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #3c3c3c;
  text-decoration: none;
}
.navbar .logo {
  width: max(12vw, 120px);
}
.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navbar ul li {
  cursor: pointer;
  color: inherit;
}

.nav-right {
  display: flex;
  gap: max(1vw, 12px);
  align-items: center;
}
.navbar select {
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid white;
  background: transparent;
  color: white;
}
.navbar select:focus {
  outline: none;
}
.navbar select option {
  background: #09005c;
  color: white;
}
.navbar select option:checked {
  background: #0b004e;
}
.nav-right button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid white;
  background: white;
  color: #393939;
  cursor: pointer;
  border: none;
}
.nav-right button img {
  width: 13px;
}
@media (max-width: 768px) {
  .navbar {
    padding: 20px 5%;
  }
  .navbar ul {
    display: none;
  }
  .nav-right {
    gap: 20px;
  }
}
